%head
  %link{rel: "stylesheet", href: "/foundation.min.css"}
  %link{rel: "stylesheet", href: "/style.css"}

%body
  .row.topbar
    .small-1.columns
      %a{href: '/about'} about
    .small-1.small-11-offset.columns
      %a{href: '/glossary'} glossary

  - unless Time.now.day % 7 == 0
    .row
      .large-centered.medium-centered.columns   
        %h3 
          Daily Warm-Up
        .warmup
          - if @warmup.title != ''  
            title:
            = @warmup.title
          %br
          %hr
          - if @warmup.reps != ''  
            reps:
            = @warmup.reps
          %br
          - if @warmup.movement != ''  
            movement:
            = @warmup.movement
          %br
          - if @warmup.weight != ''  
            weight:
            = @warmup.weight
          %br
          - if @warmup.description != ''
            description:
            = @warmup.description
          %br
          - if @warmup.length != ''  
            length:
            = @warmup.length


    .row
      .large-centered.medium-centered.columns
        %h4 Month
    .row
      .small-3.columns.month
        %a{href: "/strength"} Strength
    .row
      .small-3.columns.month
        %a{href: "/endurance"} Power Endurance
    .row
      .small-3.columns.month
        %a{href: "/job"} Job-Specific
    .row
      .small-3.columns.month
        %a{href: "/maintain"} Maintainence

  - else
    %h3 Rest Day