%head
  %link{rel: "stylesheet", href: "/foundation.min.css"}
  %link{rel: "stylesheet", href: "/style.css"}

%body
  .row.topbar
    .large-10.medium-10.small-10.columns.a
      %a{href: '/'} home
    .large-2.medium-2.small-2.columns.end
      %a{href: '/glossary'} glossary

  .row
    .medium-6.medium-centered.columns
      %h1 Strength
      %h3= .category
      %h3= .title
      %h3= .reps
      %h3= .rounds
      %h3= .movement
      %h3= .description
  

  %h3 Outline for the Month
  %ul
    %li 4x Strength Every 14 Days
    %li 2x Recovery Every 14 Days 
    %li 2x Job Specific Every 14 Days 
    %li 2x Power Endurance

